pandas 
numpy 
scipy 
seaborn

ipykernel

os
sys
contextlib

jupyterlab==4.1.5
matplotlib==3.8.4
ipywidgets==8.1.2
ipympl==0.9.4
ipyleaflet==0.18.2
jupyterlab_widgets==3.0.10
widgetsnbextension==4.0.10
notebook==7.1.2